
* {
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
}

body {

  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  border: solid;
  border-color: rgba(99, 167, 255, 0.878);
  text-align: center;
}

.header {
  border: solid;
  border-color: rgba(255, 198, 99, 0.878);
}

.header h1 {
  font-size: 70px;
}

.todos {
  border: solid;

}
.TodoForm {
  border: solid;
  border-color: rgb(3, 185, 3);
}

.todo-input {
  border: solid 1px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 150px;

}

.todo-list {
  border: solid;
  border-color: rgb(109, 4, 208);
}

.todo-list ul {
  border: solid;
  border-color: rgb(216, 3, 3);
  text-align: left;
  padding-left: 20px;
  
}
